<VirtualHost *:80>
    ServerName   18.188.255.10
    DocumentRoot "/var/www/html/ibae/public/"
    ErrorLog     "/var/www/html/ibae/error.log"
    CustomLog    "/var/www/html/ibae/access.log" combined

    <Directory "/var/www/html/ibae/public">
        Options +Indexes +FollowSymLinks
        DirectoryIndex index.php
        AllowOverride None
        Require all granted

        <IfModule mod_rewrite.c>
            <IfModule mod_negotiation.c>
                Options -MultiViews
            </IfModule>

            RewriteEngine On

            # Handle Front Controller...
            RewriteCond %{REQUEST_FILENAME} !-d
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteRule ^ index.php [L]

            # Handle Authorization Header
            RewriteCond %{HTTP:Authorization} .
            RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
        </IfModule>
    </Directory>

</VirtualHost>
